* {
    list-style-type: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.head {
    grid-column: 2 / 3;
}

.sidebar {
    grid-column: 1 / 2;
}

.main {
    grid-column: 2 / 3
}